apiVersion: v1
kind: Service
metadata:
  labels:
    app: third-apps-nginx
  name: third-apps-nginx
spec:
  ports:
  - name: http-80
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: third-apps-nginx
  type: NodePort