# 新增 calico-node 获取 secret 的 role 模版文件
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: calico-r-secret-access
  namespace: kube-system
rules:
- apiGroups: 
  - ""
  resourceNames:
  - bgp-secret
  resources:
  - secrets
  verbs:
    - get
    - list
    - watch