# 新增 calico-node 获取 secret 的 rolebinding 模版文件
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: calico-rb-secret-access
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: calico-r-secret-access
subjects:
- kind: ServiceAccount
  name: calico-node
  namespace: kube-system